asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
crispy-bootstrap5==2026.3
Django==4.2.30
django-crispy-forms==2.5
idna==3.18
numpy==2.4.6
pandas==3.0.3
python-dateutil==2.9.0.post0
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
